{% load render_partial %}
{% load static %}


{% render_partial 'header'  %}
        {% block header %}
        {% endblock  %}

  <body style="direction:rtl" class=" dark-edition">

    <div class="wrapper ">

        
      <div class="main-panel">

        {% include 'layouts/navbar.html' %}

        {% block content  %}
        {% endblock  %}

        {% include 'layouts/sidebar.html' %}  

        {% block footer %}
        {% endblock  %}

        {% render_partial 'footer'  %}

      </div>

    </div>

      {% include 'layouts/setting-theme.html' %}
      {% include 'layouts/scripts.html' %}
      
  </body>

</html>